table, th, td {
    border:  dashed 1px black;
   

    border-collapse: collapse;
    background-color: gainsboro;
    
  }

  table{
    margin: auto;
    margin-top: 150px;

  }

  td{

    column-width: 20px;
    height: 80px;
   
    text-align: center;

  }

  th.popunjeno{

    background-color: lavender;
    border:  solid 1px black;

  }