<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" type="text/css" href="/assets/aktivnost.css" />

</head>

<body>

  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="planiranjeNastavnik">Planiranje nastavnik</a>
    <a href="podaciStudent">Podaci student</a>
    <a href="/raspored">Raspored</a>
    <a href="aktivnost">Aktivnost</a>
  </div>


  <div class="pis">

    <p class="a">
      Prethodna aktivnost
    </p>

    <p class="naslov">
      <br>
      OI <br>
      Predavanja </p>
    <p class="tekst">
      <br> aktivnost od prije 1 dan</p>
  </div>

  <div class="trenutna">
    <p class="a">
      Trenutna aktivnost
    </p>
    <p class="naslov"> <br>WT <br> Predavanja </p>
    <p class="tekst"> <br> preostalo vrijeme 60 minuta
      <br> Pocetak: 9:00
      <br> Kraj: 12:00</p>
  </div>


  <div class="pis">
    <p class="a">
      Sljedeca aktivnost
    </p>
    <p class="naslov"> <br>WT <br>Vjezbe </p>
    <p class="tekst"><br> vrijeme do aktivnosti: 60 minuta
      <br> Pocetak: 12:00
      <br> Kraj: 13:30 </p>
  </div>






</body>

</html>