<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/assets/podaciStudent.css" />
</head>

<body>

    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="planiranjeNastavnik">Planiranje nastavnik</a>
        <a href="podaciStudent">Podaci student</a>
        <a href="raspored">Raspored</a>
        <a href="aktivnost">Aktivnost</a>
      </div>
    <table>


        <tr>

            <td>Naziv predmeta</td>
            <td>Grupa</td>

        </tr>
        <tr>

            <td>WT</td>
            <td>Grupa 1</td>

        </tr>
        <tr>

            <td>RMA</td>
            <td>Grupa 3</td>

        </tr>
        <tr>

            <td>OI</td>
            <td>Grupa 5</td>

        </tr>
        <tr>

            <td>ORM</td>
            <td>Grupa 2</td>

        </tr>
        <tr>

            <td>ASP</td>
            <td>Grupa 2</td>

        </tr>


    </table>




</body>

</html>