body{

    background-color: lightsteelblue;
}

table {
    border-spacing: 80px;
    margin-top: 150px;
  }

div {
    border: 2px solid steelblue;
    color:steelblue;
    text-align: center;
   
    margin-left: 20px;

   
  }
div.pis{
  border-radius: 75px;
  height: 400px;
  width: 30%;
  margin-top: 170px;
  float: left;
  
}


 div.trenutna{
  border-radius: 25px;
    height: 500px;
    width: 30%;
    margin-top: 70px;
    float: left;
 }

 

 p.naslov{

font-size: 300%;

 }

 p.a{
  color:steelblue;
background-color: lightsteelblue;
margin-top: -20px;
width: 50%;
margin-left: 25%;
font-size: 25px;
 }

 .topnav {
  background-color: #333;
  overflow: hidden;
  clear: both;
  
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}